<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New Job Application</h5>
                  <span class="h2 font-weight-bold mb-0">{{jobapplyService.jobapplys.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Newly Arrived Orders</h5>
                  <span class="h2 font-weight-bold mb-0">{{orderService.getOrderCount()}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Ongoing Project</h5>
                  <span class="h2 font-weight-bold mb-0">{{projectService.getProjectCount()}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Ongoing Projects</h3>
          </div>
          <div class="col text-right">

          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Order table -->
        <table class="table table-borderless table-striped table-earning">
          <thead>
              <tr>
                  <th>Project ID</th>
                  <th>Order ID</th>
                  <th>Project Name</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Project Location</th>
                  <th>Customer Name</th>
                  <th>Project Status</th>
                  <th>Project Cost</th>
                  <th>Worker Count</th>
                  <th></th>
                  <!-- <th>service type</th>
                  <th>service name</th>
                  <th class="text-right">price</th>
                  <th>Status</th> -->
              </tr>
          </thead>

          <tbody>

                  <tr *ngFor="let pro of projectService.projects">
                    <td>{{pro.project_id}}</td>
                    <td>{{pro.order_id}}</td>
                    <td>{{pro.project_name}}</td>
                    <td>{{pro.start_date}}</td>
                    <td>{{pro.end_date}}</td>
                    <td>{{pro.project_loc}}</td>
                    <td>{{pro.cus_name}}</td>
                    <td>{{pro.project_status}}</td>
                    <td>{{pro.project_cost}}</td>
                    <td>{{pro.worker_count}}</td>
                    <td> <button class="btn btn-outline-info" (click)="onEdit(pro)">Edit</button>
                      <button class="btn btn-outline-danger" (click)="onDelete(pro._id,projectForm)">Delete</button></td>
                    <!-- <td>{{ord.date}}</td> -->


                          <!-- <a href='addProjects/".$row['order_id']."/".$row['cus_name']."/".$row['service_name']."'><button type='submit' class='btn btn-primary'>Confirm</button>&nbsp<a href='deleteOrders/".$row['order_id']."'><button class='btn btn-danger'>Reject</button></a></td> -->
                      </tr>



          </tbody>
      </table>
      </div>
    </div>

<hr>
<h3><b>Add Project</b></h3>
<br>
<app-addprojects></app-addprojects>
