<app-navigation-bar></app-navigation-bar>

<div class="pimag1"
	style="background-image: url('../../../assets/img/backgrounds/image1.jpg');
min-height:700px   ; position: relative;  background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
	<div class="ptext" style="position: absolute; top: 30%; width: 100%; 
  text-align: center; color: #000; font-size: 27px; letter-spacing:8px;text-transform: uppercase;">
		<div class="column">
			<div>
				<span class="border" style="background-color:#111; color:#fff; padding:20px;">
					Gemunu Construction Service
				</span>
			</div>

			<div style="margin-top:40px;">
			<button style="height:1cm; width:4cm; background-color: white !important; color: #000 !important" type="button" class="btn btn-default"  (click)="open(content)">Place Order</button>
			<!--PLACE ORDER form MODAL-->
			<ng-template style="background-color:black" #content let-modal>
					<div class="modal-header"><div style="padding-top:15px;">
						<h1 style="font-weight:bold;" class="modal-title">PLACE YOUR ORDER</h1></div>
						<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
							<form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
							  <!--<input type="hidden" name="_id" #_id="ngModel"	[(ngModel)]="orderService.selectedOrder._id"> -->
								<input type="hidden" name="date" #date="ngModel" value="requested"	[(ngModel)]="orderService.selectedOrder.date"> 
								<div class="form-group">
									<label for="">Name</label>
									<input class="form-control" type="text" name="cus_name" #cus_name="ngModel"
									[(ngModel)]="orderService.selectedOrder.cus_name" placeholder="Eg : Tony Stark" required>
								</div>
								<div class="form-group">
									<label>Contact </label>
									<input class="form-control" type="number" name="cus_phone" #cus_phone="ngModel"
									[(ngModel)]="orderService.selectedOrder.cus_phone"	placeholder="Eg : 0773269713" required ng-pattern="/^[0-9]{1,6}$/" limit-to="10">
								</div>
								<div class="form-group">
									<label>Address</label>
									<input class="form-control" type="text" name="cus_address" #cus_address="ngModel"
									[(ngModel)]="orderService.selectedOrder.cus_address"	placeholder="Eg : No 7, kotta Rd, Borella" required>
								</div>
								<div class="form-group">
										<label>Email</label>
										<input class="form-control" type="text" name="cus_email" #cus_email="ngModel"
										[(ngModel)]="orderService.selectedOrder.cus_email"	placeholder="abcde@gmail.com" required>
								</div>
								<div class="from-group">
									<label>Select your need</label>
									<select class="custom-select form-control" name="service_id" #service_id="ngModel"
									[(ngModel)]="orderService.selectedOrder.service_id" id="service_id">
										<option selected *ngFor="let ser of serviceService.service">{{ser.service_name}}</option>
									</select>
								</div>
								<input type="hidden" name="order_status" #order_status="ngModel" value="requested"	[(ngModel)]="orderService.selectedOrder.order_status"> 
								<div class="row" style="padding-top:50px">								
								<div class="col-md-6" ></div>
									<div class="col-md-6">
										<button class="btn btn-default" style="width:125px" type="button" (click)="closeModal(orderForm)">CANCEL</button>
										<button class="btn btn-danger" style="width:225px" type="submit" >SUBMIT</button>
									</div>
								</div>
							</form>		
						</div>
				</ng-template>
		</div>
<!-- 	PLACE ORDER form MODAL END-->


		</div>
	</div>
</div>

<section class="section section-Light" id="about"
	style="text-align: center; padding: 50px 80px; background-color: #f4f4f4;color:#666;">
	<h1 class="mb-4">ABOUT</h1>
	<p>Upto now, we have</p>
	<div class="row">
		<div class="col-md-4">
			<h2>{{workers}} Workers</h2>
		</div>
		
		<div class="col-md-4">
			<h2>{{projects}} Projects</h2>
		</div>
		
		<div class="col-md-4">
			<h2>{{orders}} Orders</h2>
		</div>
	</div>
		<div class="mt-4 mb-4">
			<p style="color: black; font-size: 20px;">We are Gemunu Construction. An experts in the field. </p>
			<p style="color: black; font-size: 20px;">We provides a hands-on approach to managing projects, from inception to completion. 
				By deploying customized resources to meet the demands of each client, supported by strong technical resources, 
				our professionals provide an end-to-end solution that discerning companies 
				have come to depend on for projects large and small throughout the Sri Lanka</p>
		</div>
</section>

<div class="pimag2"
	style="background-image: url('../../../assets/img/backgrounds/image2.jpg');
min-height: 600px; position: relative; background-position: center; background-size: cover; background-repeat: no-repeat;background-attachment: fixed;">
	<div class="ptext" style="position: absolute; top: 50%; width: 100%; 
    text-align: center; color: #000; font-size: 27px; letter-spacing:8px;text-transform: uppercase;">
	
	</div>

</div>

<section class="section section-Dark" id="services"
	style="text-align: center; padding: 50px 80px; background-color: #282e34;color:#ddd;">
	<h2 style="color:white;">SERVICES</h2>
	
		<div class="mt-4 mb-4">
			<p style="color: wheat;font-size: 20px;">
				As professionals, we have a vested interest in each client. We take time to understand your unique needs and challenges, 
				and utilize our wide-ranging experiences within multiple industries to develop a tailored construction management plan. 
				The opportunity to be engaged during the design phase and to collaborate with the team at such an early stage is a 
				significant advantage. Our preconstruction services ensure every aspect of your project is thoughtfully planned out, 
				including anticipating unexpected issues that would otherwise hold up a job. 
				Your project will meet all your objectives, while adhering to your time and budget requirements.
	
				We’ll implement the latest cutting-edge methods to actively manage the project at this critical stage, 
				controlling cost and schedule, ensuring well-coordinated design documents are produced, 
				and maximizing value for your construction investment. Our professional staff will also work with you to retain 
				high-quality contractors within your budget constraints, to ensure that every detail for your project is 
				given proper attention.
			</p>
		</div>
		
</section>
<section class="section section-Dark" id="serviceslist"
	style="padding: 50px 80px; background-color: #282e34;color:#ddd;">
	<h2 style="color:white;">We provide,</h2>
	
		<div class="mt-4 mb-4">
			<ul>
				<li>Managing Workers</li>
				<li>Managing Resources</li>
				<li>Managing Cost and budget</li>
				<li>Scheduling</li>
				<li>Budget Development</li>
			</ul>
		</div>
	
</section>

<div class="pimag3"
	style="background-image: url('../../../assets/img/backgrounds/image3.jpg');height: 600px; position: relative; background-position: center; background-size: cover; background-repeat: no-repeat;background-attachment: fixed;">
	<div class="ptext" style="position: absolute; top: 50%; width: 100%; 
    text-align: center; color: #000; font-size: 27px; letter-spacing:8px;text-transform: uppercase;">
	
	</div>
</div>

<section class="section section-Light" id="contact"
	style="text-align: center; padding: 50px 80px; background-color: #f4f4f4;color:#666;">
	<h2 style="margin-bottom:1cm;">CONTACT</h2>
	<p>Discuss your project with our team</p>
	<div class="row">
		<div class="col-md-4">
			<div class="column">
				<div>
					<i class="fa fa-search-location"></i>
				</div>
				<div>
					Gemunu Construction,
				</div>
				<div>
					No 25,
				</div>
				<div>
					Borella
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="column">
				<div>
					<i class="fa fa-phone"></i>
				</div>
				<div>
					011 222 3334
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="column">
				<div>
					<i class="fa fa-at"></i>
				</div>
				<div>
					gemunuconstructions@gmail.com
				</div>
			</div>
		</div>
	</div>
	
</section>

<section class="section section-Dark"
	style="text-align: center; padding: 50px 80px; background-color:#282e34;color:#ddd;">
	<!-- <app-contactpage></app-contactpage> -->


</section>