<div class="header bg-gradient-danger py-7 py-lg-8">
	<div class="container">
		<div class="header-body text-center mb-7">
			<div class="row justify-content-center">

				<div class="container mt-4 pb-5">
					<!-- Table -->
					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-8">
							<div class="card bg-secondary shadow border-0">
								<div class="card-body px-lg-5 py-lg-5">
									<div class="text-center text-muted mb-4">
										<h1>Apply a job</h1>
									</div>
									<form role="form" #jobForm="ngForm">
										<!-- {{jobForm.value | json}} -->
										
										<!-- <div class="form-group">
											<div class="input-group input-group-alternative mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-user"></i></span>
												</div>
												<input class="form-control" placeholder="Name" type="hidden" name="worker_id"
													required ngModel>
											</div>
										</div> -->

										<div class="form-group">
											<div class="input-group input-group-alternative mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-user"></i></span>
												</div>
												<input class="form-control" placeholder="Name" type="text" name="worker_name"
													required [(ngModel)]="job.worker_name">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group input-group-alternative mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-id-card"></i></span>
												</div>
												<input class="form-control" placeholder="NIC" type="text" name="worker_nic"
													required [(ngModel)]="job.worker_nic">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group input-group-alternative mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-phone"></i></span>
												</div>
												<input class="form-control" placeholder="Phone" type="text"
													name="worker_phone" required [(ngModel)]="job.worker_phone">
											</div>
										</div>

										<!-- <div ngModelGroup="address"> -->
											<div class="form-group">
												<div class="input-group input-group-alternative mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
																class="fa fa-location-arrow"></i></span>
													</div>

													<select class="form-control" name="job_type" id="job_type" [(ngModel)]="job.job_type">
														<option selected value="">I am interested in</option>
														<option>I</option>
														<option>am</option>
														<option>interested</option>
														<option>in</option>
														<option>I am</option>
														<option>interested in</option>
													</select>
													<!-- <input class="form-control" placeholder="City" type="text"
														name="worker_address" required ngModel> -->
												</div>
											</div>
											<div class="form-group">
												<div class="input-group input-group-alternative mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
																class="fa fa-location-arrow"></i></span>
													</div>
													<input class="form-control" placeholder="Adderss" type="text"
														name="worker_address" required [(ngModel)]="job.worker_address">
												</div>
											</div>
											<!-- 
											<div class="form-group">
												<div class="input-group input-group-alternative mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
																class="fa fa-location-arrow"></i></span>
													</div>
													<input class="form-control" placeholder="Adderss Line 3" type="text"
														name="address3" required ngModel>
												</div>
											</div> -->
										<!-- </div> -->
										<!-- <div class="form-group">
											<div class="input-group input-group-alternative">
												<div class="input-group-prepend">
													<span class="input-group-text"><i
															class="ni ni-lock-circle-open"></i></span>
												</div>
												<input class="form-control" placeholder="Select a job type" type="text"
													name="job_type" required ngModel>
											</div>
										</div> -->

										<div class="form-group">
											<div class="input-group input-group-alternative">
												<div class="input-group-prepend">
													<span class="input-group-text"><i
															class="ni ni-lock-circle-open"></i></span>
												</div>
												<input class="form-control" placeholder="Password" type="password"
													name="worker_password" required [(ngModel)]="job.worker_password">
											</div>
										</div>
										<!-- <div class="form-group">
											<div class="input-group input-group-alternative">
												<div class="input-group-prepend">
													<span class="input-group-text"><i
															class="ni ni-lock-circle-open"></i></span>
												</div>
												<input class="form-control" placeholder="Reenter password"
													type="password" name="passwordC" required ngModel>
											</div>
										</div> -->
										<div class="text-muted font-italic"><small>password strength: <span
													class="text-success font-weight-700">strong</span></small></div>
										<div class="row my-4">
											<div class="col-12">
												<div class="custom-control custom-control-alternative custom-checkbox">
													<input class="custom-control-input" id="customCheckRegister"
														type="checkbox">
													<label class="custom-control-label" for="customCheckRegister">
														<span class="text-muted">I agree with the <a href="#!">Privacy
																Policy</a></span>
													</label>
												</div>
											</div>
										</div>
										<div class="text-center">
											<button type="button" (click)="display()" class="btn btn-primary mt-4">Apply
												Job</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="separator separator-bottom separator-skew zindex-100">
		<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
			xmlns="http://www.w3.org/2000/svg">
			<polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>
</div>
<!-- Page content -->