<div class="header bg-gradient-danger py-7 py-lg-8">
	<div class="container">
		<div class="header-body text-center mb-7">
			<div class="row justify-content-center">

				<div class="container mt-4 pb-5">
					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-8">
							<div class="card bg-secondary shadow border-0">
								<div class="card-body px-lg-5 py-lg-5">
									<div class="text-center text-muted mb-4">
										<h1>Apply a job</h1>
									</div>

									<form #jobapplyForm="ngForm" (ngSubmit)="onSubmit(jobapplyForm)">
										<input type="hidden" name="worker_id" #worker_id="ngModel"
											[(ngModel)]="jobApplyService.selectedJobapply.worker_id">


										<div class="form-group">
											<label for="">Name</label>
											<input class="form-control" type="text" name="worker_name"
												#worker_name="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.worker_name"
												placeholder="Eg : Tony Stark" required>
										</div>

										<div class="form-group">
											<label>NIC :</label>
											<input class="form-control" type="text" name="worker_nic"
												#worker_nic="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.worker_nic"
												placeholder="Eg : 953145104V" required>
										</div>

										<div class="form-group">
											<label>Contact :</label>
											<input class="form-control" type="text" name="worker_phone"
												#worker_phone="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.worker_phone"
												placeholder="Eg : 0773269713" required>
										</div>

										<div class="form-group">
											<label>Address</label>
											<input class="form-control" type="text" name="worker_address"
												#worker_address="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.worker_address"
												placeholder="Eg : No 7, kotta Rd, Borella" required>
										</div>

										<!-- <div class="row">
											<label>Select ajob type</label>
											<select class="browser-default" name="job_type" id="job_type"
												#job_type="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.job_type" required>
												<option value="Carpenter">Carpenter</option>
												<option value="Plumber">Plumber</option>
												<option value="Electrician">Electrician</option>
												<option value="Carpenter">Carpenter</option>
												<option value="Pipefitter">Pipefitter</option>
												<option value="Construction Laborer">Construction Laborer</option>
											</select>
										</div> -->
										<div class="from-group">
											<label>Select ajob type</label>
											<select class="custom-select form-control" name="job_type" id="job_type"
												#job_type="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.job_type" required>
												<option selected>Open this select menu</option>
												<option value="Carpenter">Carpenter</option>
												<option value="Plumber">Plumber</option>
												<option value="Electrician">Electrician</option>
												<option value="Carpenter">Carpenter</option>
												<option value="Pipefitter">Pipefitter</option>
												<option value="Construction Laborer">Construction Laborer</option>
											</select>
										</div>


										<div class="form-group mt-4">
											<label>Password</label>
											<input class="form-control" type="password" name="password"
												#worker_password="ngModel"
												[(ngModel)]="jobApplyService.selectedJobapply.worker_password"
												placeholder="Enter Password" required>
										</div>

										<div class="row">
											<div class="input-field col s12">
												<button class="btn btn-default" type="button"
													(click)="resetForm(employeeForm)">Reset</button>
												<button class="btn btn-danger" type="submit"
													[disabled]="!jobapplyForm.valid">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="separator separator-bottom separator-skew zindex-100">
		<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
			xmlns="http://www.w3.org/2000/svg">
			<polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>
</div>
<!-- Page content -->

<script>
	$(document).ready(function () {
		$('select').formSelect();
	});
</script>