
<body style="background-image:url(assets/img/theme/bgimage.jpg)">
<div>
  <div class="container-fluid"  style="background-color:DarkSalmon;" >

    <!-- Brand -->












</div>
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
<div style="background-color:DarkSalmon;">
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" >
        <a class="nav-link pr-0" role="button" >
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="assets/img/theme/team-4-800x800.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">{{this.workerService.getname()}}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-left"  color='green'>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>

          <div class="dropdown-divider"></div>
          <a [routerLink]="['/login']"  class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>


  </div>

</nav>
<div class="text-center">

<button type="button" class="btn btn-success btn-lg pull-center" ><a routerLink="/worker/leave">Request for leave</a> </button>
<button type="button" class="btn btn-success btn-lg pull-right"><a routerLink="/worker/viewProjects">viewProjects</a></button>

</div>
</div>
<body>


<router-outlet></router-outlet>
